
:root {
  --primary-color: #fff;
  --secondary-color: #FFFFFF;
  --text-color: #000000;
  --background-color: green;
  --font-size-small: 12px;
  --font-size-large: 17px;
  --spacing: 1em;
  --font-family: "Roboto", sans-serif;
  --font-weight: 400;
  --font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  text-align: center;
  color: var(--primary-color);
  margin: var(--spacing);   
}

li, ul {
  margin: 2px;
  list-style: none;
}

.hero-img {
  width: 100%;
  height: auto;
  position: relative;
}

.container .data, .weather{
  background-color: var(--secondary-color);
  padding: 0.5em;
  margin: 0.5em; 
  text-align: center;  
}

.data ul, .weather ul {
  font-size: var(--font-size-small);
  
}

.weather img {
  width: 5em;
  height: 5em;
  margin: var(--spacing);
  justify-items: center;
}

.weather-icon {
  display: none;
}

footer {
  text-align: center;
  font-size: var(--font-size-small);
  margin: var(--spacing);
  color: var(--primary-color);
}
