:root {
  --primary-color: #fff;
  --secondary-color: #FFFFFF;
  --text-color: #000000;
  --background-color: green;
  --font-size-small: 14px;
  --font-size-large: 18px;
  --spacing: 1.5em;
  --font-family: 'Roboto', sans-serif;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
  padding: 10px;
}

h2 {
  text-align: center;
  color: var(--background-color);
}

ul {
  list-style-type: none;
}

.hero {
  margin-bottom: var(--spacing);
  
}

.hero h1 {
  font-size: 2em;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  position: relative;
}

.data, .weather {
  background-color: var(--secondary-color);
  padding: var(--spacing); 
  margin-bottom: var(--spacing);
  text-align: center;
}

.data ul, .weather ul {
  font-size: var(--font-size-small);
}

.weather h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  display: none;
}

footer {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--primary-color);
}

@media (min-width: 768px) {
  :root {
      --font-size-small: 16px;
      --font-size-large: 22px;
  }

  h1 {
      font-size: 3em;
  }

  h2 {
    boer
  
    
  }

  .container {
    display: flex;
    align-items: flex-end;
   
    
  }
  .data {
    position: absolute;
    align-self: flex-start;
    top: 10%;
    margin: 5%;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.5);

  }

  .weather {
    position: absolute;
    justify-content: end;
    right: 0;  
    margin: 5%;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.5);   
  }

  .data ul, .weather ul {
      font-size: var(--font-size-large);
  }

  .weather-icon {
      display: inline-block;
      margin-left: 10px;
  }

  .weather h2::after {
      content: '☁️'; /* Pseudo element for large view weather icon */
      margin-left: 10px;
      font-size: 1.5em;
  }
}