header, footer {
    color : #000000;
    text-align : center;
    background-color : #74d477;
    max-width : 650px;
    margin : auto;
}

main {
    background : #bccaf1;
    padding : 10px;
    max-width : 650px;
    margin :  auto;
}

a {
    text-decoration : none;
 }
.go-back-button:hover {
    background-color : #7977ee;
 }