body {
  font-family: 'Roboto', sans-serif;
}

/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Navigation styles */
header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Main Content */
main {
  max-width: 90%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  max-width: 300px;
}

figcaption {
  margin-top: 0.5em;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

footer p {
  margin: 0.5em 0;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* Mobile view - display hamburger */
@media (max-width: 767px) {
  nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
  }

  nav ul.open {
      display: flex;
  }

  .hamburger {
      display: block;
  }
}